<!DOCTYPE HTML>
<html>
	<%- include("components/head") -%>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
  <%- include("components/header-menu") -%>
  <%- include("components/header-dinamic") -%>
  <%- include("components/content/reservations") -%>
	
	

	<%- include("components/footer") -%>
	</div>

	<%- include("components/footer-gototop") -%>
	<%- include("components/footer-scripts") -%>
	</body>
</html>

