<!DOCTYPE HTML>
<html>
	<%- include("components/head") -%>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

  <%- include("components/header-menu") -%>
  <%- include("components/header-dinamic") -%>
  <%- include("components/content/services") -%>
  <%- include("components/content/text") -%>
  <%- include("components/content/subscribe") -%>
	<%- include("components/footer") -%>

	</div>

	<%- include("components/footer-gototop") -%>
	<%- include("components/footer-scripts") -%>

	</body>
</html>

